# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.pyc

# Precompiled Headers
*.gch
*.pch
*.pcm

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Other automatically created files
*_cc.d
*_hh.d
*_C.d

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# ROOT files
*.root

# xml files
*.xml

# Other fils we don't want to store
*.png
*/*.png
*.log
*.*~
trainingData/*
*.sh.e*
*.sh.o*
figures/*
syncPlots.sh
computeKinematicWeights
convert_EventStrNtuple_To_FlatNtuple
